.contact-form {
  text-align: center;
  margin: 20px;
  display: flex;
}

.email-input {
  top: 726px;
  left: 40px;
  width: 514px;
  height: 78px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ababab;
  border-radius: 10px;
  opacity: 1;
}

.submit-button {
  top: 726px;
  left: 574px;
  width: 213px;
  height: 78px;
  /* UI Properties */
  background: #ea7b2c 0% 0% no-repeat padding-box;
  border: 1px solid #ea7b2c;
  border-radius: 10px;
  opacity: 1;
  margin-left: 20px;
}

.submit-button:hover {
  background-color: #005f7a;
}

.message {
  margin: 10px;
  color: red;
  font-size: 14px;
}
